{% extends "base.html" %}

{% block content %}
{% if current_user.is_authenticated %}
    <a href="add_jobs" type="button" class="btn btn-outline-primary  btn-lg">Добавить пост</a>
{% endif %}
<p></p>
<div align="center" class="shadow-lg p-3 mb-5 text-bg-body-tertiary-light rounded" ><h1>DiscoveryDispatch</h1></div>
  <div class="row">
    {% for job in jobs %}
      <div class="col-sm-7 col-md-4 col-lg-3 mb-4">
      <div class="card">
        <div style="position: relative;">
        <div class="card-body" style="min-height: 240px;">
          <h5 class="card-title">{{ job.post }}
          {% if current_user.is_authenticated and current_user.name == job.author %}
    <a href="/post_del/{{ job.id }}" class="btn btn-light" style="float: right;"><span class="bi bi-trash"></span></a><a href="/post_edit/{{ job.id }}" class="btn btn-light" style="float: right;"><span class="bi bi-pencil-square"></span></a>
{% endif %}</h5>
          <h6 class="card-subtitle mb-2 text-muted">{{job.user.name}}</h6>
          <img src="static/img/{{ job.picture }}" class="card-img-top" alt="Изображение не найдено(">
            <div class="card-text">{{ job.description }}</div>
            <a href="/add_comment" class="btn btn-primary">Добавить коментарий</a>
          <h7 class="card-subtitle mb-2 text-muted">Комментарии:</h7>
            {% for com in comments %}
            {% endfor %}
          </div>
        </div>
      </div>
     </div>
    {% endfor %}
  </div>
{% endblock %}