{% extends "base.html" %}

{% block content %}
{% if current_user.is_authenticated %}
    <a href="add_jobs" type="button" class="btn btn-outline-primary  btn-lg">Добавить пост</a>
{% endif %}
    <h1 align="center"> * здесь будет крутое название сайта *</h1>
    <div class="card" style="width: 25rem; height: 20rem;">
      <img src="img/bekosha_run_feedback.png" class="card-img-top" alt="Изображение не найдено(">
      <div class="card-body">
        <h5 class="card-title">Отзыв о Bekosha Run</h5>
        <p class="card-text">Классная игра! Мне зашло!</p>
        <a href="#" class="btn btn-primary">Добавить коментарий</a>
      </div>
    </div>

{% endblock %}