{% extends "base.html" %}

<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
{% block content %}
<h1>Ваши посты</h1>

  <div class="row">
    {% for job in jobs %}
      <div class="col-sm-7 col-md-4 col-lg-3 mb-4">
      <div class="card">
        <div style="position: relative;">
        <div class="card-body" style="min-height: 240px;">
          <h5 class="card-title">{{ job.post }}
          {% if current_user.is_authenticated and current_user.name == job.author %}
    <a href="/post_del/{{ job.id }}/" class="btn btn-light" style="float: right;"><span class="bi bi-trash"></span></a>
              <a href="/post_edit/{{ job.id }}" class="btn btn-light" style="float: right;"><span class="bi bi-pencil-square"></span></a>
{% endif %}</h5>
          <h6 class="card-subtitle mb-2 text-muted">{{job.user.name}}</h6>
          <img src="static/img/{{ job.picture }}" class="card-img-top" alt="Изображение не найдено">
            <div class="card-text">{{ job.description }}</div>
          <h7 class="card-subtitle mb-2 text-muted">Комментарии:</h7>
            {% for com in comments%}
            {%if job.post == com.post_id%}
                <p class="card-text"><strong>{{ com.author }}: </strong> {{com.comment}}</p>
            {% endif %}
            {% endfor %}
          </div>
        </div>
      </div>
     </div>
    {% endfor %}
  </div>
{% endblock %}